{
  "plugins": ["@babel/plugin-transform-flow-strip-types", "@babel/plugin-transform-regenerator", ["@babel/plugin-transform-runtime",
    {
      "regenerator": true
    }
  ]],
  "presets": ["@babel/preset-env"],
}
